@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .prose code {
    @apply text-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-800 dark:text-zinc-200 !important;
  }
  p {
    @apply text-zinc-700 dark:text-zinc-300;
  }
}

.video-wrapper {
  aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}
