---
import Base from "@layouts/Base.astro";
import { getTaxonomy } from "@utils/getAllTags";

const tags = await getTaxonomy("blog", "tags");

const textClasses: string[] = [
  "text-3xl text-cyan-400 capitalize",
  "text-xl text-teal-400 capitalize",
  "text-md text-red-400 capitalize",
  "text-lg text-green-400 capitalize",
  "text-sm text-orange-400 capitalize",
  "text-lg text-zinc-400 capitalize",
  "text-4xl text-red-400 capitalize",
  "text-xs text-cyan-400 capitalize",
];

const getRandomClass = (classList: string[]): string => {
  const randomIndex: number = Math.floor(Math.random() * classList.length);
  return classList[randomIndex];
};
---

<Base>
  <section class="grid grid-cols-1">
    <h2 class="text-2xl md:text-3xl font-bold mb-8">Tags:</h2>
    <ul class="flex justify-center flex-wrap align-center gap-3">
      {
        tags.map((tag) => (
          <li>
            <a
              class={getRandomClass(textClasses)}
              href={`/tags/${tag.slug}`}
              title={`View posts with the tag: ${tag.name}`}
            >
              {tag.name}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
