---
import BaseSimple from "@layouts/BaseSimple.astro";
import Page from "@layouts/Page.astro";
---

<BaseSimple meta_title="À Propos de moi">
  <Page title="À propos de moi">
    <h2>Qui suis-je ?</h2>

    <p>Pour ceux qui ne me connaissent pas, je suis Anthony.</p>
    <p>Je ne suis pas développeur, ni programmeur ou autres, seulement curieux dans de multiples domaines.</p>
    <p>Je souhaite partager avec vous mes découvertes et mes astuces dans les domaines suivants (principalement) :</p>

    <ul>
    <li>Domotique</li>
    <li>Auto Hébergement</li>
    <li>Reprise du contrôle de ses données</li>
    <li>Docker</li>
    <li>Linux</li>
    <li>etc.</li>
    </ul>

    <p>Ce blog me sert aussi de mémo lorsque je recherche et que je n&#39;ai pas envie de perdre ou pas envie de chercher a nouveau.</p>
    <h2>Mon passé</h2>
    
    <p>Mon intérêt pour l&#39;informatique et les nouvelles technologies à commencer par le partage et l&#39;entraide sur des forums (PhpBB et VBulletin) puis, après un passage par la modération, je suis vite passé à la création et l&#39;administration d&#39;un forum de partage.</p>
    <p>En 2009/2010 le temps me manque et je laisse de côté cette activité.</p>
    <p>Je me consacre à mon installation domestique, mon NAS maison et aux travaux de mon appartement puis de ma maison.</p>
    <p>Depuis l&#39;achat de ma maison, je me suis tourné vers la domotique dans un but précis, me simplifier la vie et pourquoi pas, faire des économies et limiter mon impact sur la planète.</p>
    <p>Après avoir passé en revue plusieurs solutions domotiques grand public, j&#39;ai décidé de commencer par <a href="https://www.jeedom.com/fr/" target="_blank">Jeedom</a> puis <a href="https://www.domoticz.com/" target="_blank">Domoticz</a> pour finir sur <a href="https://www.home-assistant.io/" target="_blank">Home Assistant</a>. J&#39;ai aussi testé, de manière éclaire, la solution française <a href="https://gladysassistant.com/fr/" target="_blank">GladysAssistant</a>. Je vous livre mon avis personnel <a href="/blog/domotique_introduction">ici</a></p>
    <p>J&#39;en ai profité pour lancer ma <a href="https://yt.mcflypartages.fr" target="_blank">chaîne Youtube</a> dans le but de partager, sans fioritures, différents articles ou tutoriels écrits. En attente depuis plus de deux, j&#39;aimerais reprendre du service.</p>
    
    <h2>Mon présent</h2>
    <h3>Personnel</h3>
    
    <p>Depuis 2021, je suis en pleine réorganisation de mes données personnelles et réflexion sur l&#39;utilisation des produits fournis par les GAFAM.</p>
    <p>C&#39;est un sujet intéressant qui permet de découvrir plein d&#39;alternatives. Je n&#39;hésiterai pas à vous faire part de mes avancées dans ce domaine.</p>
    
    <h3>Communautaire</h3>
    
    <p>J&#39;ai aussi été très actif dans le lancement et la montée en puissance de la communauté francophone autour de Home Assistant (HACF). Je suis un des fondateurs et le président de son association jusqu&#39;en juin 2024 où je quitterai mes fonctions.</p>
    <p>Je vais me reconcentrer sur mon Blog et mes contenus, tout en explorant d&#39;autres choses en lien avec les thèmes qui me semblent importants.</p>
    
    <h2 >Mon Futur</h2>
    
    <p>Reprendre mes projets personnels que j&#39;avais mis en standby pour la communauté HACF, mais je vous tiendrais au courant au fur et à mesure de leurs mises en place ou évolution.</p>
    
    <h2>Conclusion</h2>
    
    <p>J&#39;espère que mes publications vous seront utiles, et vous feront découvrir plein de chose dans le merveilleux monde de l&#39;auto-hébergement, la vie privée, la domotique et plein d&#39;autres.</p>
    <p>Au plaisir.</p>
    
  </Page>
</BaseSimple>
