---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="À Propos de moi">
  <Page title="À propos moi">
    <p>
      Page en cours de création
    </p>

  </Page>
</Base>
