---
---
<section class=" items-center px-5 py-12 lg:px-20">
    <div class="w-full text-blue-600 border rounded-lg shadow-xl">
      <div class="flex items-center justify-between px-6 py-4 mx-auto">
        <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-4 icon icon-tabler icon-tabler-alert-triangle" width="50px" height="50px" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
            <polyline points="11 12 12 12 12 16 13 16"></polyline>
          </svg>
          <p class="text-sm font-semibold tracking-wide">
            <strong>Note:</strong> Certains liens présents dans cet article sont des liens affiliés (Domadoo, Amazon, AliExpress…). Cela veut dire que le commerçant me reverse un petit pourcentage. En passant par ces liens, vous soutenez mon travail sans dépenser plus, car le prix est exactement le même pour vous.</p>
        </div>
      </div>
    </div>
</section>
  