---
import config from "@config/config.json";
import HeartIcon from "@components/icons/HeartIcon.astro";
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="border-t border-zinc-100 dark:border-zinc-900">
    <p class="text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400 mt-8 mb-8">
      &copy; {year}. {config.site.title} - EV0. All rights REVERSED
      <span class="block mt-2">
        Made with
        <HeartIcon />
        in Medellín, Colombia. by
        <a
          href="https://gndx.dev"
          class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
          title="GNDX"
          >GNDX</a
        >
      </span>
    </p>
  </div>
</footer>
