<svg class="h-6 fill-current" viewBox="0 0 20 20">
  <title>Menu Close</title>
  <polygon
    points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
    transform="rotate(45 10 10)"></polygon>
</svg>
